<div class="navContainer">
  <nav>
    <button routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">
      Home
    </button>
    <button routerLink="/board" routerLinkActive="active" ariaCurrentWhenActive="page">
      Board
    </button>
    <button routerLink="/dm" routerLinkActive="active" ariaCurrentWhenActive="page">
      Dm
    </button>
    <button routerLink="/auth" routerLinkActive="active" ariaCurrentWhenActive="page">
      Auth
    </button>
  </nav>
</div>

<router-outlet></router-outlet>

<footer>
  <div class="footerContainer">
    <!-- 깃허브 링크, 연락처, 개발자 프로필 -->
     <!-- 기타 사이트 주의 사항 및 언급 내용 -->
      <!-- 공지사항 -->
  </div>
</footer>