<div class="navContainer">
  <nav>
    <ul>
      <li>
        <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">
          Home
        </a>
      </li>
      <li>
        <a routerLink="/testing" routerLinkActive="active" ariaCurrentWhenActive="page">
          testing
        </a>
      </li>
      <!-- <li><a routerLink="/quest" routerLinkActive="active" ariaCurrentWhenActive="page">
          Quest
        </a>
      </li>
      <li>
        <a routerLink="/test" routerLinkActive="active" ariaCurrentWhenActive="page">
          Test
        </a>
      </li> -->
    </ul>
  </nav>
</div>
<router-outlet></router-outlet>
