<div class="navContainer">
  <nav>
    <ul>
      <li>
        <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">
          Home
        </a>
      </li>
      <li>
        <a routerLink="/testing" routerLinkActive="active" ariaCurrentWhenActive="page">
          testing
        </a>
      </li>
      <li><a routerLink="/auth" routerLinkActive="active" ariaCurrentWhenActive="page">
          Auth
        </a>
      </li>
      <li>
        <a routerLink="/board" routerLinkActive="active" ariaCurrentWhenActive="page">
          Board
        </a>
      </li>
      <li>
        <a routerLink="/dm" routerLinkActive="active" ariaCurrentWhenActive="page">
          Dm
        </a>
      </li>
    </ul>
  </nav>
</div>
<router-outlet></router-outlet>
