<div class="dmContainer">
  <div class="receiver-list">
    <h3>DM List</h3>
    <ul>
      <button class="dmList" *ngFor="let receiver of dmList$ | async" (click)="selectDm(receiver.userId, receiver.username)">
        {{ receiver.username }}
        <mat-divider />
      </button>
    </ul>
  </div>
  
  <div class="nowDmContainer">
    <p> DM Now {{ selectedReceiverUsername }}</p>
    <!-- 해당 메시지 목록에 스크롤 추가하기  -->
    <!-- Max-height 추가 -->
    <div class="messageListContainer" #scrollMe>
      <div class="messageContainer" *ngFor="let msg of messages">
        <strong>{{ msg.senderUsername }}:</strong>
        {{ msg.message }}
      </div>
    </div>
    <form [formGroup]="messageForm" (ngSubmit)="send()">
      <div>
        <label for="message">message:</label>
        <input id="message" formControlName="message">
      </div>
      <button type="submit">Send Message</button>
    </form>
  </div>
  <!-- <button type="submit" (click)="selectDm(selectedReceiverId)">Fetch</button> -->
</div>