.dmContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  height: auto;
}

.receiver-list {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 6px 12px;
  margin: 6px 9px;
  justify-content: center;
  align-items: center;

  .dmList{
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    border: transparent;
    align-items: center;
    border-radius: 12px;
    padding: 6px 6px;
    margin: 6px 6px;

    &:hover {
      background-color: #888888;
    }
  }
}

.nowDmContainer{
  display: flex;
  flex-direction: column;
  width: 40%;
  align-items: center;

  justify-content: end;
  border: 1px solid #999999;
  border-radius: 12px;
  box-sizing: border-box; 

  padding: 6px 12px;
  margin: 6px 9px;
}

.messageListContainer {
  flex-grow: 1;
  margin-bottom: 5px;
  max-height: 200px;
  overflow-y: auto;
}

.messageContainer{
  margin-bottom: 5px;
}