.dmContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  height: auto;
}

.receiver-list {
  display: flex;
  flex-direction: column;
  background-color: #e9e9e9;
  width: 40%;
  padding: 6px 6px;
  margin: 6px 9px;

  // justify-content: center;
  // align-items: center;

  .dmList{
    display: flex;
    flex-direction: column;
    border: transparent;
    border-radius: 12px;
    padding: 6px 6px;
    margin: 6px 6px;

    &:hover {
      background-color: #888888;
    }
  }
}

.nowDmContainer{
  display: flex;
  flex-direction: column;
  width: 40%;
  min-width: 128px;
  align-items: center;
  flex-wrap: wrap;

  justify-content: end;
  border: 1px solid #999999;
  border-radius: 12px;
  box-sizing: border-box; 

  padding: 6px 12px;
  margin: 6px 9px;
}

.messageListContainer {
  flex-grow: 1;
  min-width: 256px;
  margin-bottom: 5px;
  max-height: 200px;
  overflow-y: auto;
}

.messageContainer{
  margin-bottom: 5px;
}


.sendDm {
  font-size: large;
  font-weight: bold;
  color: #5974ff;
  background-color: transparent;
  border: transparent;
  border-radius: 9px;
  transition: background-color 0.3s ease;
  margin: 6px 9px;
  padding: 6px 12px;
  min-width: auto;
  width: auto;
  &:hover {
    background-color: #d6d6d6
  }
}