<p>dm works!</p>

<div class="receiver-list">
  <h3>Receivers for</h3>
  <ul>
    <li *ngFor="let receiver of dmList">{{ receiver }}</li>
  </ul>
</div>

<form [formGroup]="messageForm" (ngSubmit)="send()">
  <div>
    <label for="message">message:</label>
    <input id="message" formControlName="message">
  </div>
  <button type="submit">Send Message</button>
</form>
<!-- DM OPEN -->

<button type="submit" (click)="selectDm()">Fetch</button>
  <div class="message-list">
    <div *ngFor="let msg of messages">
      <strong>{{ msg.senderId }}:</strong> {{ msg.message }}
    </div>
  </div>
