.example-container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 8px;
  padding: 12px 9px;

  background-color: #eaeaea;
  border: 1px solid #000000;
  border-radius: 9px;
  min-width: 320px;
  width: 50%;

  p {
    font-size: xx-large;
    font-weight: 900;
    margin: 12px 12px;
    padding: 12px 12px;
  }

  mat-form-field {
    min-width: 256px;
  }

  .buttonContainer {
    flex-direction: row;
    button {
      justify-self: center;
      margin: 6px 6px;
    }
  }
}

.example-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 12px 12px;
}

.socialAuthContatiner {
  display: flex;
  flex-shrink: 1;

  justify-content: center;
  align-items: center;
}

.kakaoLoginButton {
  background: url('C:/otp/Frontend/public/kakaoLoginButton.png') no-repeat;
  background-size: contain; // 아이콘 크기 조정
  display: inline-block;
  width: 200px;
  cursor: pointer;
  border: none;
  height: 40px;
  margin: 12px 12px;
  // &:hover {
  //   background-color: #0056b3;
  // }
}

.googleLoginButton {
  background-image: url('C:/otp/Frontend/public/googleLoginButton.svg');
  background-repeat: no-repeat;
  display: inline-block;
  width: 200px;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  margin: 12px 12px;
  cursor: pointer;
  border: none;
}