<div class="searchFormContainer">
  <div class="filterFormContainer">
    <!-- 오브젝트 필터 -->
    <form class="objektFilterForm" [formGroup]="objektFilterForm" (ngSubmit)="getThumbnail()">
      <mat-form-field>
        <mat-select formControlName="season" placeholder="Season">
          @for (season of objektFilter.season; track season) {
          <mat-option [value]="season">{{season}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select formControlName="member" placeholder="Member">
          @for (member of objektFilter.member; track member) {
          <mat-option [value]="member">{{member}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select formControlName="collectionNo" placeholder="collectionNo">
          @for (collectionNo of objektFilter.collectionNo; track collectionNo) {
          <mat-option [value]="collectionNo">{{collectionNo}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select formControlName="classes" placeholder="classes">
          @for (classes of objektFilter.classes; track classes) {
          <mat-option [value]="classes">{{classes}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <div class="submitButton">
        <button type="button" (click)="addObjektToHaveArray()">Have 찾기</button>
        <button type="button" (click)="addObjektToWantArray()">Want 찾기</button>
      </div>
    </form>
  </div>

  <!-- 필터로 검색해서 찾기 -->
  <div class="objektArrayContainer">
    <form class="objektArrayForm" [formGroup]="searchForm" (ngSubmit)="searchObjekt()">
      <div class="searchObjektArray" *ngIf="searchForm.get('objekt.have')?.value.length > 0">
        <p>Have </p>
        <div *ngFor="let haveItem of searchForm.get('objekt.have')?.value; let i = index">
          <img [src]="haveItem.thumbnailImage" alt="Thumbnail" style="max-width: 150px; max-height: 150px;"
            [matTooltip]="haveItem.id" aria-label="Button that displays a tooltip when focused or hovered over">
        </div>
      </div>
      <div class="searchObjektArray" *ngIf="searchForm.get('objekt.want')?.value.length > 0">
        <p>Want </p>
        <div *ngFor="let wantItem of searchForm.get('objekt.want')?.value; let i = index">
          <img [src]="wantItem.thumbnailImage" alt="Thumbnail" style="max-width: 150px; max-height: 150px;"
          [matTooltip]="wantItem.id" aria-label="Button that displays a tooltip when focused or hovered over">
        </div>
      </div>
      <div class="searchButton">
        <button type="button" (click)="resetOptions()">Reset</button>
        <button type="submit">Search Objekt</button>
      </div>
    </form>
  </div>
</div>

<div class="postButton">
  <!-- 포스팅 기반으로 찾기 -->
  <button type="button" (click)="searchWithPosting()">
    Search Matching for post
  </button>
  <button routerLink="/post" routerLinkActive="active" ariaCurrentWhenActive="page">
    Post
  </button>
</div>


<!-- 포스팅 목록 -->
@for ( posting of postings; track posting.posting_id) {
<div class="postingCards">
  <div class="postingCardTitle">
    <ng-container *ngIf="updateMode; else viewTitle">
      <input [(ngModel)]="posting.posting_title" placeholder="Enter title" />
    </ng-container>
    <ng-template #viewTitle>
      {{ posting.posting_title }}
    </ng-template>
  </div>
  <div class="postingOption">
    <button mat-button [matMenuTriggerFor]="menu">{{ posting.posting_username }}</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="goDM(posting.posting_userId, posting.posting_username)">DM</button>
      <button mat-menu-item>Close</button>
    </mat-menu>
    <!-- 로그인 사용자와 username이 일치하는지 확인하는 로직 추가 -->
    <button *ngIf="userId === posting.posting_userId" mat-button [matMenuTriggerFor]="postingOption"> ⁝ </button>
    <mat-menu #postingOption="matMenu">
      <button mat-menu-item (click)="changeUpdateMode()">Update</button>
      <button mat-menu-item (click)="deletePosting(posting.posting_id)">Delete</button>
      <button mat-menu-item>Close</button>
    </mat-menu>
  </div>
  <div class="postingCardContent">
    <ng-container *ngIf="updateMode; else viewContent">
      <textarea [(ngModel)]="posting.posting_content" placeholder="Enter content"></textarea>
    </ng-container>
    <ng-template #viewContent>
      {{ posting.posting_content }}
    </ng-template>
  </div>
  <div class="objektArray">
    <p>Have</p>
    <div class="objekt-container" *ngFor="let thumb of posting?.thumbnails?.have">
      <img class="objekt-img" [src]="thumb.thumbnailImage" alt="Thumbnail" style="max-width: 150px; max-height: 150px;"
        [matTooltip]="thumb.id" aria-label="Button that displays a tooltip when focused or hovered over">
      <button class="pop-button" (click)="popHaveObjekt(posting.posting_id, thumb)" *ngIf="userId === posting.posting_username && updateMode">
        <i class="fa-solid fa-x"></i>
      </button> 
    </div>
    <p>Want</p>
    <div class="objekt-container" *ngFor="let thumb of posting?.thumbnails?.want">
      <img class="objekt-img" [src]="thumb.thumbnailImage" alt="Thumbnail" style="max-width: 150px; max-height: 150px;"
        [matTooltip]="thumb.id" aria-label="Button that displays a tooltip when focused or hovered over">
        <button class="pop-button" (click)="popWantObjekt(posting.posting_id, thumb)" *ngIf="userId === posting.posting_username && updateMode">
          <i class="fa-solid fa-x"></i>
        </button>
    </div>
  </div>
  <div class="updateModeButton" *ngIf="userId === posting.posting_username && updateMode">
    <button mat-menu-item (click)="updatePosting(posting.posting_id)">Update</button>
    <button mat-menu-item (click)="changeUpdateMode()">Cancel</button>
  </div>
</div>
}